{
    "lab":{
        "eap":{
            "endpoint": "/v0.1/BookServices.asmx",
            "method": "POST",
            "http_headers": {
                "Content-Type": "text/xml;charset=utf-8"
            }
        }
    }
}
